<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor. -->
<html>

    <head>
        <meta charset="UTF-8">
        <title> Ответ сервера </title>
    </head>
    
    <body>
        <h2>Сведения о заказе клиента :</h2>
        <strong>Ф.И.О заказчика</strong> - {{ data_form[0] }}<br>
        <strong>Пароль</strong>: {{ data_form[1] }}<br>
        <strong>Тип диска</strong>: {{ data_form[2] }}<br><br>
        <strong>Хочет чтоб на диске были следующие курсы:</strong><br>
        <strong>Курсы по Фотошопу</strong> - {{ data_form[3] }}<br>
        <strong>Курсы по Adobe</strong> - {{ data_form[4] }}<br>
        <strong>Курсы по PHP</strong> - {{ data_form[5] }}<br><br>
        <strong>Выбрал способ доставки</strong> - {{ data_form[6] }}<br>
        <strong>В качестве домашнего адреса указал:</strong> {{ data_form[7] }}
    </body>
</html>